fastapi[all]
fastapi-mail
pymongo
bson
numpy
nltk
nn
spacy
spacy-llm
transformers
# torch
# torchvision 
# torchaudio
# pip3 install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu118

# install this seperately
# python -m spacy download en_core_web_sm

# to install torch
# New-ItemProperty -Path "HKLM:\SYSTEM\CurrentControlSet\Control\FileSystem" -Name "LongPathsEnabled" -Value 1 -PropertyType DWORD -Force