[nlp]
lang = "en"
pipeline = ["llm"]

[components]

[components.llm]
factory = "llm"

[components.llm.task]
@llm_tasks = "spacy.NER.v3"
labels = ["ID", "PERSON", "EMAIL","BUSINESS NAME", "CONTACT PERSON", "PHONE NUMBER", "DATE", "ITEM QUANTITY", "PRICE", "STATUS"]
description = "Entities are the data in a mobile application for sales, inventory and procurement management."

[components.llm.task.label_definitions]
UNDERWATER = "Extract names of known underwater places and features e.g Seamount, Seamounts"
COORDINATES = "Extract geographic coordinates for latitude and longitude"
DEPTH = "Extract references to depth in feet or metres"
METHODS = "Extract references to collection methods e.g trawling, dredging, sampling, collecting"

[components.llm.model]
@llm_models = "spacy.Dolly.v1"
# For better performance, use dolly-v2-12b instead
name = "dolly-v2-12b"
#"Mistral-7B-v0.1"